@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-scroll text-sm leading-normal text-gray-700 bg-white font-body;
}

body {
  @apply p-4 mx-auto;
}


#mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 350ms ease; 
}

#mobile-menu.active {
  max-height: 190px;
}

#mobile-menu a.active {
  @apply text-gray-800;
}

#talk {
  transition: opacity 350ms ease; 
}

.work-blurb ul li {
  @apply mb-1 ml-1;
}

.work-blurb h3 {
  @apply mb-2 font-medium;
}

.job-summary p, .project p {
  @apply mb-2;
}

.info-field {
  @apply p-4 mb-10 bg-white border-t-4 border-green-100 rounded shadow-md;
}

.info-field a, .link {
  @apply text-blue-800;
}

.info-field a:hover, .link:hover {
  @apply text-blue-900 underline;
}


.info-field .job-listing-header {
  @apply flex flex-col items-center mb-2;
}

@screen sm {
  #mobile-menu {
     max-height: 21px;
  }

  .info-field .job-listing-header {
     @apply flex-row justify-between;
  }
}
