---
import Layout from '../layouts/index.astro'
import Contact from '../components/Contact.svelte'
import Skill from '../components/Skill.svelte'

import data from '../data/index.js'

const { skills } = data
---

<Layout title="Joakim Rosenstam" description="Personal site of Joakim Rosenstam, a software developer currently working at Dahl AB as a fullstack developer in Stockholm, Sweden.">
  <div class="flex flex-col items-center space-y-20">
    <div class="space-y-1 text-4xl font-semibold text-center">
      <h1>Joakim Rosenstam</h1>
      <p>Web/Software Developer</p>
    </div>
    <div class="p-6 bg-white border-2 border-gray-200 rounded-full">
      <img class="object-cover w-64 pt-6 rounded-full bg-gradient-to-t from-gray-200 to-green-50 h-80" src="/assets/joakim-nobg.png" alt="Joakim Rosenstam" />
    </div>
    <div class="flex flex-col text-center md:flex-row md:flex-wrap">
      <Contact class="mb-2 md:w-1/2" header="Mail" content="joakim.rosenstam@gmail.com" href="mailto:joakim.rosenstam@gmail.com" />
      <Contact class="mb-2 md:w-1/2" header="Phone" content="+46 (0)73 262 80 70" href="tel:+46732628070" />
      <Contact class="mb-2 md:w-1/2" header="Discord" content="everchanger#2119" href="https://discordapp.com/" />
      <Contact class="mb-2 md:w-1/2" header="Skype" content="joakim.rosenstam" href="skype:joakim.rosenstam?chat" />
    </div>
    <p class="max-w-prose">I'm a software developer based in Stockholm, Sweden. My skills are broad and I've worked on pretty much every part of the projects I've been involved in. Everything from the planning/architecture stage to the prototyping and actual production stages to final delivery of the product. I started out as a C++ developer but I would like to think that I'm also fluent in web (HTML/CSS/JS/PHP) by now.</p>
    <div class="flex flex-wrap text-lg text-center">
      {skills.map((skill) => (<Skill class="w-1/2 mb-14" header={skill.header} skills={skill.skills} />))}
    </div>
    
  </div>
</Layout>