<div class="col-xs-12 col-sm-6">
    <h1>About me</h1>
    <div class="col-xs-12">
        <p>
            My name is Joakim Rosenstam. I currently live and work in Täby in Stockholm, Sweden. 
            I moved here when I got a job at Expisoft AB in 2011. I'm a gamer at heart, I'm educated as a game programmer but I also enjoy gaming as a hobby.
            I'm currently into Hearthstone, Overwatch and PLAYERUNKNOWN'S Battlegrounds. I enjoy shooting, editing and sharing photos. Photography is a hobby I have noticed is quite popular among other developers.
            I also do a fair bit of coding in my free time if I have a fun project that needs my attention.
        </p>
    </div>
</div>