<div class="col-xs-12">
	 <div class="home-blurb">
		<div class="job-header">
			<h2>Webhallen</h2><img width="160" height="65"src="/images/logos/webhallen.jpg" title="Webhallen">
		</div>
		<h2 class="job-years">Current employer</h2>
		<section>
			<div class="job-summary">
					<h4>Summary</h4>
					<p>
						Working as a full stack developer with focus on the new customer page. 
						I've also been hard at work implementing selenium testing using <a href="https://github.com/zalando/zalenium">Zalando's Zalenium</a> 
						a Selenium grid implementation using Docker images. I used <a href="http://webdriver.io/">WebdriverIO</a> as a driver for the tests.
						My day to day work mostly revolves around building new features for the customer page using Vue.js and Laravel.
					</p>
			</div>
			<div class="job-tools">
					<h4>Tools</h4>
					<ul class="tool-list">
						<li>
							Visual Studio Code for all kinds of editing.
						</li>
						<li>
							Git with Gitlab integration.
						</li>
						<li>
							JavaScript (ES6) and <a href="https://vuejs.org/">Vue.js</a> for frontend.
						</li>
						<li>
							PHP, <a href="https://laravel.com/">Laravel</a> and <a href="http://www.doctrine-project.org/">Doctrine</a> on the backend.
						</li>
					</ul>
			</div>
		</section>
	</div>
	 
	
	<div class="home-blurb">
		<div class="job-header">
			<h2>Expisoft AB</h2><img width="160" height="65"src="/images/logos/expisoft.jpg" title="Expisoft AB">
		</div>
		<h2 class="job-years">September 2011 - November 2017</h2>
		<section>   
			<div class="job-summary">
				<h4>Summary</h4>
				<p>
						At <a href="http://www.expisoft.se/">Expisoft AB</a> I worked as an developer. I wrote mostly C++ but also code PHP, JavaScript, CSS and HTML for web interfaces. 
						Expisoft creates secure applications using <a href="https://en.wikipedia.org/wiki/Public_key_infrastructure">PKI</a> so just by working here I've learned a massive amount of information on working with certificates and CA's.
				</p>
				<p>
							I'm used to working with Virtual Machines in a VMware environment, both local VMs using <a href="http://www.vmware.com/se/products/workstation.html">VMWare Workstation</a> but also remote VMs using the VMware Sphere Client.
				</p>
				<p>
						Since Expisoft AB is a small company I did a lot more than just developing. 
						I was the main force to make work easier and more effective for everyone at Expisoft. A couple examples of this
						is me installing and maintaining a Zulip chat server, a Kanboard web app to make project management easier and also publishing a lot
						of wiki entries on the internal Wiki. I also worked on modernizing the development environment.  
				</p>
			</div>
			<div class="job-responsibilities">
				<h4>Responsibilities</h4>
				<p>
						Responsible for developing, maintaining and testing parts of the Expisoft AB's product tree using C++ as my main language. Main responsibility was working on an application firewall written in C++. 
						The product was used to proxy and parse network traffic to be able to provide a solid Single Sign On experience for the end user. The product supported Telnet, HTTP/HTML and IIOP parsing. 
						It could also be configured to fetch user data from multiple different sources such as LDAP databases and Windows AD. 
				</p>
				<p>
						I took it upon myself to learn PHP and web development at Expisoft, I built a modern web interface for one of their products from the ground up. 
						I used PHP for the backend. For the frontend I used HTML5, <a href="http://getbootstrap.com/">Bootstrap</a>, JavaScript, <a href="https://jquery.com/">jQuery</a> and CSS3.
				</p>
				<p>
						I was also responsible for building MSI installers using the <a href="http://wixtoolset.org/">WIX toolset</a>. 
						I used <a href="https://github.com/Wintellect/Paraffin">Paraffin</a> and integrated it into the build environment to make building installers for web projects more effective. 
				</p>
			</div>
			<div class="job-tools">
				<h4>Tools</h4>
				<ul class="tool-list">
						<li>
							Visual Studio (2008) for native development, C++. And <a href="https://code.visualstudio.com/">Visual Studio Code</a> for web work, PHP, JavaScript and CSS.
						</li>
						<li>
							Makefiles and a custom build environment built around nmake.
						</li>
						<li>
							<a href="http://cruisecontrolnet.org/projects/ccnet/wiki/About">CruiseControl.NET</a> for automatic build. I remade and simplified the configuration files for our CruiseControl server, making adding other build targets a lot easier.
						</li>
						<li>
							<a href="https://tortoisesvn.net/">Tortise SVN</a> and SVN to handle code versioning 
						</li>
						<li>
							<a href="https://www.qt.io/">Qt</a> for developing native GUI's. I have not used QT Creator just coded the UI in C++. 
						</li>
						<li>
							VMWare Workstation and VMWare Sphere for testing and deploying productivity tools. 
						</li>
						<li>
							<a href="https://trac.edgewall.org/">Trac</a> for managing tickets and hosting the wiki. 
						</li>
						<li>
							<a href="https://kanboard.net/">Kanboard</a> installed and managed the Kanboard server. Used it to make project handling easier. 
						</li>
						<li>
							<a href="https://zulip.org/">Zulip an open-source chat solution</a>, since Expisoft AB handles confidential data we could not use Slack. 
							We needed an solution that we could host in-house. I found and sat up the Zulip server and it has been ticking along quite nicely ever since. 
						</li>
				</ul>
			</div>
		</section>
	</div>

	<div class="home-blurb">
		<div class="job-header">
			<h2>Dfind</h2><img width="160" height="65"src="/images/logos/dfind.jpg" title="Dfind">
		</div>
		<h2 class="job-years">March 2011 - September 2011</h2>
		<section>
			
			
			<div class="job-summary">
				<h4>Summary</h4>
				<p>
						Got hired by Dfind to work at Expisoft AB. I worked as an engineer/developer and after six months I got hired at Expisoft AB.
				</p>
			</div>
			<div class="job-responsibilities">
				<h4>Responsibilities</h4>
				<p>
						Working on Expisoft AB's products. Making secure single sing on solutions for web applications.
				</p>
				
			</div>
			<div class="job-tools">
				<h4>Tools</h4>
				<ul class="tool-list">
						<li>
							I used the same tools as listed in the Expisoft section above.
						</li>
				</ul>
			</div>
		</section>
	</div>

	<div class="home-blurb">
		<div class="job-header">
			<h2>Alternate Ending Interactive Studio</h2><img width="160" height="65"src="/images/logos/aeis.jpg" title="Alternate Ending Interactive Studio">
		</div>
		<h2 class="job-years">March 2010 - August 2010</h2>
		<section>        
			<div class="job-summary">
				<h4>Summary</h4>
				<p>
						Worked as an intern for three months, then got hired to work on a PSP Minis game called <a href="https://www.playstation.com/en-gb/games/metara-ps3/">Metara</a>. 
						We were Using C++ and an in-house engine called Tengine to develop the game. 
						Since we were a small team a lot of the responsibilities were shared between me and the other programmer. 
						I mainly worked on visual effects, enemy and player behavior. I also did three Flash games using Adobe Flash CS4 that were used in a marketing campaign at "hamsterpaj.net" (community site for young teens) for a chocolate powder called "O'boy".
				</p>
			</div>
			<div class="job-responsibilities">
				<h4>Responsibilities</h4>
				<p>
						C++ coding, optimizing code for the PSP. Develop web games using Adobe Flash CS4.
				</p>
			</div>
		</section>
	</div>
	<div class="home-blurb">
		<h2 class="job-employer">Education - PlaygroundSquad</h2>
		<h2 class="job-years">2008 - 2010</h2>
		<section>        
			<div class="job-summary">
				<h4>Summary</h4>
				<p>
						Higher vocational education for game development, I studied game programming. We learnt about the basics of making a 3D game, the math, the rendering and the gameplay. A good school that really boosted my programming skill and thinking.
				</p>
			</div>
		</section>
	</div>
</div>