<div class="col-xs-12">
    
    <div class="col-xs-12 col-sm-4 home-blurb">
        <i class="far fa-user-circle fa-5x"></i>
        <h2>Who am I?</h2>
        <p>
            I'm a software developer based in Stockholm, Sweden. My skills are broad and I've worked on pretty much every part of the projects I've been involved in.
            Everything from the planning/architecture stage to the prototyping and actual production stages to final delivery of the product. 
            I started out as a C++ developer but I would like to think that I'm also fluent in web (HTML/CSS/JS/PHP) by now. 
        </p>
        <p>
            I've spent most of my career at <a target="_blank" href="http://www.expisoft.se">Expisoft AB</a> a small company where I worked as a developer. I'm currently employeed at <a target="_blank" href="http://www.webhallen.com">Webhallen AB</a>.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4 home-blurb">
        <i class="far fa-keyboard fa-5x"></i>
        <h2>What do I do?</h2>
        <ul>
            <li class="category">Native development</li>
            <li>C, C++</li>
            <li>Qt5</li>
            <li class="category">Web development</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
            <li>PHP</li>
            <li class="category">Other</li>
            <li>VMWare environments</li>
            <li>SVN</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 home-blurb">
        <i class="far fa-envelope fa-5x"></i>
        <h2>Want to contact me?</h2>
        <p>
            Want to work on something together, make me an offer I can't refuse or just ask about something I've done in the past? Use one of the options listed below. 
        </p>
        <p>
            <a href="mailto:joakim.rosenstam@gmail.com"><i class="fa fa-envelope"></i> joakim.rosenstam@gmail.com</a>
        </p>
        <p>
            <a href="tel:+46732628070"><i class="fa fa-phone"></i> +46 (0)73 262 80 70</a>
        </p>
        <p>
            <a href="https://discordapp.com/" target="_blank"><i class="fab fa-discord"></i> everchanger#2119</a>  
        </p>
        <p>
            <a href="skype:joakim.rosenstam?chat"><i class="fab fa-skype"></i> joakim.rosenstam</a>  
        </p>
    </div>
    <div class="col-xs-12 home-blurb home-more">
        <h2>Want to know more?</h2>
        <h2 class="home-more-sub">Check my <a href="?view=cv">CV</a> or learn more <a href="?view=about">about me.</a></h2>
    </div>
</div>