<div class="col-xs-12 home">	
	<div class="col-xs-12 col-sm-4">
		<div class="home-blurb">
			<div class="home-blurb-header mb-10">
				<h2>Who am I?</h2>
				<i class="far fa-user-circle fa-25x"></i>	
			</div>
			<p>
				I'm a software developer based in Stockholm, Sweden. My skills are broad and I've worked on pretty much every part of the projects I've been involved in.
				Everything from the planning/architecture stage to the prototyping and actual production stages to final delivery of the product. 
				I started out as a C++ developer but I would like to think that I'm also fluent in web (HTML/CSS/JS/PHP) by now. 
			</p>
			<p>
				I've spent most of my career at <a target="_blank" rel="noopener" href="http://www.expisoft.se">Expisoft AB</a> a small IT security company where I worked as a developer. I'm currently employeed at <a target="_blank" rel="noopener" href="http://www.webhallen.com">Webhallen AB</a> as a fullstack web-developer.
			</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="home-blurb">
			<div class="home-blurb-header mb-10">
				<h2>What do I do?</h2>
				<i class="far fa-keyboard fa-25x"></i>
			</div>
			<div style="text-align: left;">
				<div class="col-xs-6 p-0">
					<div class="category">Frontend</div>
					<div>Vue</div>
					<div>CSS</div>
					<div>Sass</div>
					<div>JavaScript</div>
					<div>Bootstrap</div>
				</div>
				<div class="col-xs-6 p-0">
					<div class="category">Backend</div>
					<div>PHP</div>
					<div>Laravel</div>
					<div>Node.js</div>
				</div>
				<div class="clearfix mb-10"></div>
				<div class="col-xs-6 p-0">
					<div class="category">CI/CD</div>
					<div>CruiseControl.NET</div>
					<div>Jenkins</div>
					<div>Selenium</div>
					<div>WebdriverIO</div>
					<div>Mocha</div>
				</div>
				<div class="col-xs-6 p-0">
					<div class="category">Native development</div>
					<div>C, C++</div>
					<div>Qt5</div>
					<div>Minor Java experience</div>
				</div>
				<div class="clearfix mb-10"></div>
				<div class="col-xs-6 p-0">
					<div class="category">DevOps</div>
					<div>VMWare environments</div>
					<div>Docker</div>
					<div>Linux (CentOS/Redhat)</div>
					<div>Windows AD</div>
				</div>
				<div class="col-xs-6 p-0">
					<div class="category">Other</div>
					<div>PKI & X.509 certificates</div>
					<div>SVN</div>
					<div>Git</div>
					<div>GDB & WinDBG</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="home-blurb">
			<div class="home-blurb-header mb-10">
				<h2>Want to contact me?</h2>
				<i class="far fa-envelope fa-25x"></i>
			</div>
			<p>
				Want to work on something together, make me an offer I can't refuse or just ask about something I've done in the past? Use one of the options listed below. 
			</p>
			<p>
				<a href="mailto:joakim.rosenstam@gmail.com"><i class="fa fa-envelope"></i> joakim.rosenstam@gmail.com</a>
			</p>
			<p>
				<a href="tel:+46732628070"><i class="fa fa-phone"></i> +46 (0)73 262 80 70</a>
			</p>
			<p>
				<a href="https://discordapp.com/" target="_blank" rel="noopener"><i class="fab fa-discord"></i> everchanger#2119</a>  
			</p>
			<p>
				<a href="skype:joakim.rosenstam?chat"><i class="fab fa-skype"></i> joakim.rosenstam</a>  
			</p>
		</div>
	</div>
</div>