<div class="col-xs-12">
    <h1>Current projects</h1>
    <div class="col-xs-12">
        <h2 class="project-head">Let me encrypt</h2>
        <h4 class="project-demo"><a target="_blank" href="https://experimental.rosenstam.net/">Live demo</a></h2>
        <h4 class="project-source"><a target="_blank" href="https://github.com/everchanger/letmeencrypt">Github source</a></h2>        
        <p>
            This is a hobby project of mine I started working on March 2017. It's meant to be a simple and modern way of safetly transfering and storing files securely.
            The idea is simple and has been done before but now progress in Javascript cryptography functions gives us the tools to encrypt and decrypt directly in the browser without the need of a native client!
            This means the user doesn't have to download any bulky software, he/she can simply create an account, find his/hers friend and send the file encrypted directly from their browser.
        </p>
        <p>
            I also use this project to try out new web ideas and to practice my MySQL skills. The server uses standard PHP and a MySQL database, nothing out of the ordinary is needed server side.
        </p>
    </div>
</div>